{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="container align-content-lg-center" style="padding-top: 40px">
        <h1>
            {{ post.title }}
        </h1>
        <h3 style="color: gray">
            {{ post.category }}
        </h3>
    </div>
    <div class="container">
        <div class="row" style="color: gray">
            <div class="col-sm">
                <h4>
                    {{ post.author }}
                </h4>
            </div>
            <div class="col-sm align-text-bottom">
                {{ post.posted }}
            </div>
            <div class="col-sm align-text-bottom">
                {{ post.length }} min read
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 20px">
        {{ post.body | linebreaks }}

        <hr>

        {% for comment in post.comments.all %}

        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>

        {% empty %}

        <p>No comments on this post yet.</p>

        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


{% endblock %}